.about {
  background-color: transparent;
  font-size: 1.1em;
  font-family: "Helvetica";
}

.profile {
  max-width: 100%;
  max-height: 100%;
  margin: 1px;
}

.my-details {
  max-width: 100%;
  margin: 10px;
  background-image: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
