.img-resize {
  max-width: 10em;
  max-height: 10em;
}

.style {
  font-size: 20px;
}
#xpContainer {
  display: flex;
}
.jumbo-style {
  background: transparent;
  /* background-image: linear-gradient(to right, #c33764, #1d2671); */
}

.card {
  margin-left: 2em;
  margin-right: 2em;
  background: rgba(255, 255, 255, 0.918);
}
.body-title-style {
  font-size: 25px;
  font-weight: 800;
}

@media screen and (max-width: 990px) {
  #xpContainer {
    flex-wrap: wrap;
    margin-left: 0;
  }
  .card {
    margin: auto;
    margin-bottom: 2em;
  }
}
