.contact-jumbotron {
  background: transparent;
  /* background-image: url("../../assets/img/carousal/animebg2.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

#contact {
  margin-top: 4em;
}
